
<header id="header" role="banner"  >
    <div class="container">
        <div id="navbar" class="navbar  navbar-default ">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right"  >
                <ul class="nav navbar-nav   " >
                    <li><a routerLink="patient"  >تقارير</a></li>
                    <li><a routerLink="clinic" >الكشف</a></li>
                    <li><a routerLink="examination"  >اسقبال</a></li>
                    <li><a routerLink="receive"  >حجز</a></li>
                    <li><a routerLink="patient"  >تحليل و اشاعة</a></li>
                    <li><a routerLink="Surgery"  >العمليات</a></li>
                    <li><a routerLink="medicine"  >الادوية</a></li>
                    <li><a routerLink="disease"  >الامراض</a></li>
                    <li><a routerLink="patient"  >المريض</a></li>

                    <li class="active"><a href="#main-slider"><i class="fa fa-home"></i></a></li>

                </ul>

            </div>
        </div>
    </div>
</header><!--/#header-->

<router-outlet></router-outlet>
